{
    "parser": "@typescript-eslint/parser",
    "env": {
        "node": true,
        "es6": true
    },
    "globals": {
        "globalThis": false
    },
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "import",
        "react"
    ],
    "extends": [],
    "rules": {
        "prettier/prettier": [
            2,
            {
                "printWidth": 80,
                "tabWidth": 2,
                "semi": true,
                "singleQuote": false,
                "bracketSpacing": true,
                "trailingComma": "none"
            }
        ],

        "no-empty": 2,
        "no-unused-vars": 2,
        "no-undef": 2,

        "import/order": ["error", {"groups": ["builtin", "external", "parent", "sibling", "index"]}],
        "sort-imports": ["error", {
            "ignoreCase": true,
            "ignoreDeclarationSort": true,
            "ignoreMemberSort": false
        }],

        "react/jsx-no-undef": "error",
        "react/jsx-uses-vars": "error",
        "react/jsx-uses-react": "error",
        "react/jsx-sort-props": "error"
    }
}
